/*Menu-----------------------------------*/

QPushButton#pushButton_newGame{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/newgameOff.png);
}

QPushButton#pushButton_continue{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/continueOff.png);
}

QPushButton#pushButton_highscores{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/recordsOff.png);
}

QPushButton#pushButton_settings{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/settingsOff.png);
}

QPushButton#pushButton_exit{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/exitOff.png);
}

QPushButton#pushButton_newGame:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/newgameOn.png);
}

QPushButton#pushButton_continue:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/continueOn.png);
}

QPushButton#pushButton_highscores:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/recordsOn.png);
}

QPushButton#pushButton_settings:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/settingsOn.png);
}

QPushButton#pushButton_exit:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/exitOn.png);
}

QWidget#page_Menu{
    image: url(:/BlueStyle/img/BlueStyle/page_menu/background.png);
}
/*Menu--------------------------------------*/

/*Configuration-----------------------------*/

QWidget#page_configuration::font{
    color: red;
}

QSlider#hSlider_speed::groove {
     border: 1px solid #999999;
     margin: 1px 0;
 }

QSlider#hSlider_speed::handle  {
     background: #e1fb04;
     border: 1px solid #0d0a3b;
     margin: -5px -1px;
     border-radius: 3px;
     border-color: #7c911c;
 }

QSlider#hSlider_speed::add-page  {
     background: #1ba640;
 }

QSlider#hSlider_speed::sub-page  {
     background: #e1fb04;
 }

QPushButton#pushButton_startGame{
    border-image: url(:/BlueStyle/img/BlueStyle/page_configuration/goOff.png);
}

QPushButton#pushButton_startGame:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_configuration/goOn.png);
}

QPushButton#pushButton_menu{
    border-image: url(:/BlueStyle/img/BlueStyle/page_configuration/menuOff.png);
}

QPushButton#pushButton_menu:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_configuration/menuOn.png);
}

QLabel#Player_name{
font-family: "Rust";
color: #e1fb04
}

QLabel#Speed{
font-family: "Rust";
color: #e1fb04
}

QLabel#Mode{
font-family: "Rust";
color: #e1fb04
}

QLabel#Field_Size{
font-family: "Rust";
color: #e1fb04
}

QLineEdit#lineEdit_playerName{
    font-family: "My Font";
    background: #1ba640;
    color: #e1fb04;
    border: none;
}

QComboBox#comboBox_gameMode{
    font-family: "Rust";
    color: #e1fb04;
    background-color: #1ba640;
    border:none;
}

QComboBox#comboBox_gameMode::drop-down{
    border:none;
    background-color: #e1fb04;
}

QComboBox#comboBox_gameMode:focus{
    border: none;
}

QComboBox#comboBox_gameMode QAbstractItemView{
    background-color: #1ba640;
    color: #e1fb04
}

QComboBox#comboBox_fieldSize{
    font-family: "Rust";
    color: #e1fb04;
    background-color: #1ba640;
    border:none;
}

QComboBox#comboBox_fieldSize::drop-down{
    border:none;
    background-color: #e1fb04;
}

QComboBox#comboBox_fieldSize:focus{
    border: none;
}

QComboBox#comboBox_fieldSize QAbstractItemView{
    background-color: #1ba640;
    color: #e1fb04
}

QWidget#page_configuration{
    image: url(:/BlueStyle/img/BlueStyle/page_configuration/background.png);
}
 /*Configuration-----------------------------*/

/*Pause--------------------------------------*/
QPushButton#button_resume{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/resumeOff.png);
}

QPushButton#button_retry{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/retryOff.png);
}

QPushButton#button_backmenu{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/menuOff.png);
}

QPushButton#button_resume:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/resumeOn.png);
}

QPushButton#button_retry:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/retryOn.png);
}

QPushButton#button_backmenu:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/menuOn.png);
}
/*Pause--------------------------------------*/

/*Result-------------------------------------*/
QWidget#page_score{
        image: url(:/BlueStyle/img/BlueStyle/page_configuration/background.png);
}

QPushButton#button_backMenu{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/menuOff.png);
}

QPushButton#button_backMenu:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/menuOn.png);
}

QPushButton#button_highscores{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/recordsOff.png);
}

QPushButton#button_highscores:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/recordsOn.png);
}

QPushButton#button_newGame{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/newgameOff.png);
}

QPushButton#button_newGame:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_menu/newgameOn.png);
}

QLabel#label{
font-family: "My Font";
color: #e1fb04;
}

QLabel#label_player{
font-family: "My Font";
color: #e1fb04;
}

QLabel#label_score{
font-family: "My Font";
color: #e1fb04;
}
/*Result-------------------------------------*/

/*Field--------------------------------------*/
QWidget#page_field{
        image: url(:/BlueStyle/img/BlueStyle/page_configuration/background.png);
}

QFrame#frame_field{
        border: 4px solid #aacc14;

}

QPushButton#pushButton_menu{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/menuOff.png);
}

QPushButton#pushButton_menu:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/diaog_pause/menuOn.png);
}

QLabel#score_text{
font-family: "My Font";
color: #e1fb04;
}

QLabel#player_name_text{
font-family: "My Font";
color: #e1fb04;
}

QLabel#score{
font-family:"My Font";
color: #e1fb04;
}

QLabel#label_playerName{
font-family:"My Font";
color: #e1fb04;
}

QLabel#lbl_Empty {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/empty.png);
    image: url(:/BlueStyle/img/BlueStyle/page_field/empty.png);
    background-image: url(:/BlueStyle/img/BlueStyle/page_field/empty.png);
}
QLabel#lbl_Snake2 {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/snakeBody2.png);
}
QLabel#lbl_Bonus2 {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/bonus2.png);
}
QLabel#lbl_Wall {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/wall.png);
}
QLabel#lbl_Bonus {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/bonus.png);
}
QLabel#lbl_Head_N {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Head_N.png);
}
QLabel#lbl_Head_S {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Head_S.png);
}
QLabel#lbl_Head_W {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Head_W.png);
}
QLabel#lbl_Head_E {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Head_E.png);
}
QLabel#lbl_Body_NS {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Body_NS.png);
}
QLabel#lbl_Body_WE {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Body_WE.png);
}
QLabel#lbl_Body_side_NW {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Body_side_NW.png);
}
QLabel#lbl_Body_side_NE {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Body_side_NE.png);
}
QLabel#lbl_Body_side_SW {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Body_side_SW.png);
}
QLabel#lbl_Body_side_SE {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Body_side_SE.png);
}
QLabel#lbl_Tail_N {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Tail_N.png);
}
QLabel#lbl_Tail_S {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Tail_S.png);
}
QLabel#lbl_Tail_W {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Tail_W.png);
}
QLabel#lbl_Tail_E {
    border-image: url(:/BlueStyle/img/BlueStyle/page_field/Tail_E.png);
}

/*Field--------------------------------------*/

/*Settings-------------------------------------*/
QComboBox#comboBox{
    font-family: "Rust";
    color: #e1fb04;
    background-color: #1ba640;
    border:none;
}

QComboBox#comboBox::drop-down{
    border:none;
    background-color: #e1fb04;
}

QComboBox#comboBox:focus{
    border: none;
}

QComboBox#comboBox QAbstractItemView{
    background-color: #1ba640;
    color: #e1fb04
}

QWidget#page_settings{
    image: url(:/BlueStyle/img/BlueStyle/page_configuration/background.png);
}

QPushButton#pushButton_menu{
    border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/menuOff.png);
}

QPushButton#pushButton_menu:hover:pressed{
    border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/menuOn.png);
}

QLabel#labelTheme{
font-family: "Rust";
color: #e1fb04;
}
/*Settings-------------------------------------*/

/*Highscores-----------------------------------*/
QWidget#page_highscores{
        image: url(:/BlueStyle/img/BlueStyle/page_highscores/background.png);
}

QPushButton#pushButton{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/menuOff.png);
}

QPushButton#pushButton::hover:pressed{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/menuOn.png);
}

QPushButton#pushButton_3{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/freeOff.png);
}

QPushButton#pushButton_3::hover:pressed{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/freeOn.png);
}

QPushButton#pushButton_3:checked{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/freeOn.png);
}

QPushButton#pushButton_2{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/ArcadeOff.png);
}

QPushButton#pushButton_2::hover:pressed{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/arcadeOn.png);
}

QPushButton#pushButton_2:checked{
        border-image: url(:/BlueStyle/img/BlueStyle/page_highscores/arcadeOn.png);
}

QLabel#Name0{
        font-family: "My Font";
        color: #1ba640;
}

QLabel#Name1{
        font-family: "My Font";
        color: #1ba640;
}

QLabel#Name2{
        font-family: "My Font";
        color: #1ba640;
}

QLabel#Result0{
        font-family: "My Font";
        color: #1ba640;
}

QLabel#Result1{
        font-family: "My Font";
        color: #1ba640;
}

QLabel#Result2{
        font-family: "My Font";
        color: #1ba640;
}
/*Highscores-----------------------------------*/

/*General------------------------------------*/


/*General------------------------------------*/
